.chi-siamo-wrapper{
    min-height: 100vh;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .chi-siamo-image{
        
        img{
            width: 80vw;
           height: auto;
        }
    }
    .chi-siamo-text{
        color: white ;
        padding: 0% 10%;
        font-size: 1.5vw;
        line-height:2;
        @media screen and (max-width:1023px) {
            color: white ;
            padding: 5% 10%;
            font-size: 5.5vw;
            line-height:1.5;
            text-align: center;
        }
    }
}
