
.video-hero{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    
    @media (max-width:1023px) {
        min-height: 0;
        width: 90%;
        position: relative;
        margin-left: 5%;
    }

}
.section-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    overflow: hidden;
    padding: 0 10%;
    @media (max-width:1023px) {
        margin-top: 0%;
        height: 50vh;
        min-height: 0;
    }
}

.section-footer{

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:1023px) {
        height: 50vh;
    }
    .section-footer-text{
        color: white;
        font-size: 5vw;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
}


