.prodotto-wrapper{
   // min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  /*   padding-top: 10rem; */
    .prodotto-image{
        width: 50vw;
        height: auto;
        margin-bottom: 5%;
        @media screen and (max-width:1023px) {
             width: 90vw;
         }
    }
    .prodotto-title{
        color: white;
        font-size: 4.5vw;
        @media screen and (max-width:1023px) {
            font-size:1.6rem;
            padding: 0% 5%;
            text-transform: uppercase;
        }
    }
    .prodotto-description{
        color: white;
        width: 100vw;
        text-align: left;
        padding:0% 10%;
        font-size:1.5vw;
        @media screen and (max-width:1023px) {
            padding: 0% 5%;
            font-size:5.5vw;
        }
    }
}