.rotating-item{
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  counter-reset: menucounter;
}
.rotating-item::before{
    counter-increment: menucounter;
    //content: counters(menucounter,'.',decimal-leading-zero);
    position: absolute;
    left: -15px;
    top:0;
    font-size: 1rem;
}
.rotating-item-text{
    pointer-events: none;
    display: block;
    line-height: 1;   
    position: relative;
    font-size: 1rem;
}
.rotating-item > div:nth-child(1) span{
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--index));
    transform-origin: bottom;
    display: inline-block;

}

.rotating-item > div:nth-child(2) span{
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s*var(--index));
    transform-origin: top;
    display: inline-block;

    transform: translate3d(0,100%,0) rotateX(-90deg);
}
.rotating-item:hover>div:nth-child(1) span{
    transform: translate3d(0,-100%,0) rotateX(-90deg);
}
.rotating-item:hover>div:nth-child(2) span{
    transform: translate3d(0,0%,0) rotateX(0deg);
}
span{
    font-size: 1rem;
}