.avatar-home{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
    @media (max-width:868px) {
        height: 30vh;
        margin-top: 0vh;
    }
    .avatar-home-image{
        width: 50vw;
        height: auto;
        @media screen and (max-width:1023px) {
             width: 90vw;
         }
    }
 /*    .image{
        border-style: solid;
        border-color: black;
        border-width: 0px;
        @media (max-width:1023px) {
            height: auto;
            width: 90vw;
        }
    } */

}