/*rgb(34, 14, 11);*/
@import './components/ScrollBar.scss';
@import './components/navigation.scss';
@import './components/RotatingText.scss';
@import './components/SectionAvatar.scss';
@import './components/cursor.scss';
@import './components/footer.scss';

@import './pages/home.scss';
@import './pages/chi-siamo.scss';
@import './pages/prodotti.scss';
@import './pages/contattaci.scss';
@import './pages/prodotto.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
//    cursor: grabbing;
}

main{

}
.section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    @media (max-width:1023px) {
        min-height: 60vh;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content:center;
        padding-top: 6rem;

    }
}
body{
    background-color: black
}

.text-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.whatsapp{
    ._1bpcM{
        background-color: black;
        color: white;
    }
}